@model ForecastApp.ForecastAppModels.SearchCity

@{
    ViewData["Title"] = "SearchCity";
}

<div class="container">

    <form method="post">

        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <h2>Search the forecast in a city</h2>
                <label asp-for="CityName" style="font-family: Arial"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
        </div>
        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <button asp-controller="ForecastApp" asp-action="SearchCity" class="btn btn-primary">Search</button>
            </div>
        </div>

       

        

        <!-----
    <iframe width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=API_KEY&q=Space+Needle,Seattle+WA">
    </iframe>

        ---->
        <!------<script async defer
            src=$"https://maps.googleapis.com/maps/api/js?key={GOOGLE_MAP_APPID}">
    </script>
        ---->
    </form>

</div>